@import url(./assets/css/reset-css.css);
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
#container {
  background: gray;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}