@import url(./assets/css/reset-css.css);
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
#container {
  background: gray;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
}
#container > section {
  background: burlywood;
  width: 50%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
#container > section > section {
  background: lightseagreen;
  width: 100%;
  height: 100%;
}
